@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
	padding-top: 12px;
	margin-bottom: -69px;
	z-index: 1;
	&__title{
		position: absolute;
    transform: translateX(-200%);
		color: transparent;
	}
	&__inner{
		display: flex;
		align-items: center;
	}
	&__logo{
		margin-right: 57px;
	}
}

.menu{
	&__btn{
		display: none;
	}
	&__list{
		display: flex;
	}
	&__item{
		margin-right: 35px;
	}
	&__item:last-child{
		margin-right: 0;
	}
	&__link{
		font-size: 18px;
		transition: all .3s;
		outline: none;
		&:hover,
		&:focus{
			text-shadow: 1px 1px 1px $accent;
		}
		&--active{
			font-size: 18px;
			text-shadow: 1px 1px 1px $accent;
		}
	}
}

.watch-online{
	background: url(../images/header-bg.jpg) center center/cover no-repeat;
	padding-top: 210px;
	padding-bottom: 137px;
	&__title{
		@extend %scene-900;
		max-width: 570px;
		font-size: 70px;
		line-height: 84px;
		margin-bottom: 50px;
	}
	&__link{
		@extend %btn;
		width: 233px;
		&:hover .watch-online__triangle{
			border-left-color: $bg;
		}
	}
	&__triangle{
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-left: 12px solid #000;
		border-bottom: 7px solid transparent;
		padding-right: 6px;
		transition: all .3s;
	}
}

.about{
	padding-bottom: 100px;
  &__title{
    padding-bottom: 29px;
  }
	&__images-list{
    background: url(../images/about-bg.svg) center center/contain no-repeat;
		display: flex;
		justify-content: center;
    align-items: center;
		overflow: hidden;
		position: relative;
		height: 550px;
	}
	&__images-item{
		display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.3s ease-out;
		cursor: pointer;
		&[data-pos="0"] {
			transform: scale(1.4,1.2857);
      z-index: 5;
    }
    &[data-pos="-1"] {
      transform: translateX(-110%) scale(1.2,1.14286);
      z-index: 4;
    }
    &[data-pos="1"] {
      transform: translateX(110%) scale(1.2,1.14286);
      z-index: 4;
    }
    &[data-pos="-2"] {
      transform: translateX(-220%) scale(1);
      z-index: 3;
    }
    &[data-pos="2"] {
      transform: translateX(220%) scale(1);
      z-index: 3;
    }
	}
	&__img{
		max-width: 250px;
		height: 350px;
	}
	&__text{
		text-align: center;
		max-width: 953px;
		margin: 32px auto 0;
		padding: 0 10px;
	}
	&__text-link{
		text-decoration: underline;
		color: #267BDE;
	}
}

.pets{
	padding-bottom: 129px;
	&__inner{
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 30px;
		padding: 0 83px 50px;
		position: relative;
	}
	&__btn{
    @extend %btn-arrow;
	}
	&__btn-prev{
    left: 0;
	}
	&__btn-next{
		left: 94%;
	}
	&__item{
		position: relative;
    transition: all .4s;
    outline: none;
    &:hover,
    &:focus{
      transform: scale(1.08,1.06);
		  box-shadow: 3px 3px 5px rgba(0,0,0,.8);
    }
    &:active{
      box-shadow: 0px 0px 0px rgba(0,0,0,.8);
      transform: scale(0.98);
	  }
	}
	&__img{
		max-width: 233px;
		height: 300px;
	}
	&__item-text{
		position: absolute;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
		line-height: 19px;
		color: #fff;
		white-space: nowrap
	}
	&__link{
		@extend %btn;
		width: 286px;
		margin: 0 auto;
	}
}

.pay{
	padding-bottom: 100px;
  &__inner{
    display: flex;
    justify-content: space-around;
  }
	&__item{
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&__item:last-child{
		z-index: -2;
	}
	&__icon{
		max-width: 205px;
		margin: 0 auto;
	}
	&__text{
		text-align: center;
		max-width: 320px;
	}
	&__decor-arrow-1{
		position: absolute;
    top: -61px;
    right: -150px;
		z-index: 1;
	}
	&__decor-arrow-2{
		position: absolute;
		bottom: -12px;
    right: -130px;
    z-index: -1;
	}
	&__decor-arrow-3{
		display: none;
	}
	&__decor-arrow-mobile-1,
	&__decor-arrow-mobile-2{
		display: none;
	}
}

.testimonials{
	padding-bottom: 100px;
	&__items{
		display: flex;
		justify-content: center;
		column-gap: 20px;
		margin-bottom: 50px;
		position: relative;
	}
	&__btn{
    @extend %btn-arrow;
	}
	&__btn-prev{
    left: 0;
	}
	&__btn-next{
    right: 0;
	}
	&__item{
		width: 233px;
		background-color: $bg;
		padding: 22px 20px 30px;
		overflow: hidden;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 1.2em;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $bg 100%);
		}
	}
	&__item-top{
		display: flex;
		align-items: center;
		margin-bottom: 18px;
	}
	&__avatar{
		margin-right: 10px;
	}
	&__name-info{
		@extend %roboto-500;
	}
	&__name{
		line-height: 19px;
		margin-bottom: 4px;
	}
	&__donate{
		font-size: 12px;
		line-height: 14px;
		padding-left: 15px;
		position: relative;
		&::before{
			position: absolute;
			content: '';
			width: 12px;
			height: 12px;
			background-image: url(../images/icons/coins.svg);
			top: 0;
			left: 0;
		}
	}
	&__text{
		line-height: 19px;
	}
	&__link{
		width: 246px;
		@extend %btn;
		margin: 0 auto;
	}
}

.footer{
	padding: 80px 0 20px;
	background-color: #dff5b0;
	font-size: 18px;
	position: relative;
	z-index: 10;
	&__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -56px;
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
		z-index: -1;
	}
	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		row-gap: 64px;
	}
	&__logo{
		margin-right: 100px;
	}
	&__btn{
		@extend %btn;
		width: 230px;
		margin-right: 162px;
	}
	&__menu{
		margin-right: 112px;
	}
	&__menu-list{
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
	}
	&__menu-item{
		flex: 0 1 50%;
	}
	&__menu-link{
		transition: all .3s;
		outline: none;
		&:hover,
		&:focus{
			text-shadow: 1px 1px 1px $accent;
		}
	}
	&__social-list{
		display: flex;
	}
	&__social-item{
		margin-right: 10px;
	}
	&__social-item:last-child{
		margin-right: 0;
	}
	&__social-link{
		circle{
			transition: all .3s;
		}
	}
	&__social-link-instagram{
		linearGradient,
		stop{
			transition: all .3s;
		}
		&:hover{
			circle{
				fill: url(#paint0_linear);
			}
		}
	}
	&__social-link-facebook:hover{
		circle{
			fill: #4867aa;
		}
	}
	&__social-link-twitter:hover{
		circle{
			fill: #41abe1;
		}
	}
	&__social-link-youtube:hover{
		circle,
		path:last-child{
			fill: #ff0000;
		}
	}
	&__logo-rsschool{
		margin-right: 57px;
	}
	&__logo-yemdigital{
		margin-right: 77px;
	}
	&__copy{
		margin-right: 213px;
	}
}

// page-map
.map{
	position: relative;
	background-color: $bg;
	padding-top: 80px;
	.container{
		padding: 0;
	}
	.btn-zoom{
		position: absolute;
		bottom: 100px;
		right: 20px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		&__item{
			background-color: #fff;
			width: 32px;
			height: 40px;
			border: none;
			padding: 0;
			display: block;
			cursor: pointer;
			outline: none;
			transition: all .3s;
			&:hover,
			&:focus{
				background-color: $arrow;
			}
			&:active{
				transform: scale(0.95);
			}
		}
		&__minus{
			border-bottom: 1px solid #000;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			position: relative;
		}
		&__minus::before{
			position: absolute;
			content: '';
			width: 12px;
			height: 2px;
			background-color: #000;
			top: 50%;
			right: 50%;
			transform: translate(50%);
		}
		&__plus{
			border-top: 1px solid #000;
			margin-top: -1px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			position: relative;
		}
		&__plus::before{
			position: absolute;
			content: '';
			width: 12px;
			height: 2px;
			background-color: #000;
			top: 50%;
			right: 50%;
			transform: translate(50%);
		}
		&__plus::after{
			position: absolute;
			content: '';
			width: 2px;
			height: 12px;
			background-color: #000;
			top: 38%;
			right: 47%;
		}
	}
	&__bg{
		background-image: url(../images/map.svg);
		background-repeat: no-repeat;
		background-position-y: center;
		background-size: auto;
		height: 945px;
		position: relative;
		font-size: 16px;
		line-height: 19px;
		overflow: hidden;
	}
	&__container{
		width: 1200px;
		height: 100%;
		position: relative;
	}
	&__animal-item:hover{
		.tooltip{
			visibility: visible;
		}
	}
	&__country-use{
		position: absolute;
		top: 51%;
		left: 17%;
	}
	&__country-drc{
		position: absolute;
		max-width: 61px;
    top: 66%;
    left: 44%;
		text-align: center;
	}
	&__country-china{
		position: absolute;
    top: 52%;
    right: 25%;
	}
	&__img{
		border: 2px solid #fff;
		border-radius: 50%;
		transition: all .4s;
		&:hover{
			border: 4px solid $accent;
		}
	}
	&__img-eagle{
		width: 64px;
		height: 64px;
		cursor: pointer;
		position: absolute;
    top: 53%;
    left: 7%;
	}
	&__img-alligator{
		width: 64px;
		height: 64px;
		cursor: pointer;
		position: absolute;
    top: 53%;
    left: 26%;
	}
	&__img-gorilla{
		width: 64px;
		height: 64px;
		cursor: pointer;
		position: absolute;
    top: 64%;
    left: 57%;
	}
	&__img-panda{
		width: 64px;
		height: 64px;
		cursor: pointer;
		position: absolute;
    top: 54%;
    right: 15%;
	}
	&__name-eagle{
		position: absolute;
		text-transform: uppercase;
    top: 55%;
    left: 2%;
	}
	&__name-alligator{
		position: absolute;
		text-transform: uppercase;
    top: 55%;
    left: 32%;
	}
	&__name-gorilla{
		position: absolute;
		text-transform: uppercase;
    top: 66%;
    left: 63.5%;
	}
	&__name-panda{
		position: absolute;
		text-transform: uppercase;
    max-width: 52px;
    text-align: center;
    right: 10%;
    top: 55%;
	}
	.tooltip-eagle{
		top: 54%;
		left: -4%;
		&::after{
			left: 100%;
    	border-top: 7px solid transparent;
    	border-left: 7px solid #70cb0e;
			border-right: none;
    	border-bottom: 7px solid transparent;
		}
	}
	.tooltip-alligator{
    top: 54%;
    left: 32%;
	}
	.tooltip-gorilla{
		width: 105px;
		top: 65%;
    right: 28%;
	}
	.tooltip-panda{
		top: 55%;
		right: 6%;
	}
}

// page zoo
.aside{
	background-image: url(../images/aside-animals-bg.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: fixed;
	top: 287px;
	left: 0;
	z-index: 100;
	padding: 13px 27px 13px 20px;
	&__item{
		margin-bottom: 8px;
		position: relative;
	}
	&__item:last-child{
		margin-bottom: 0;
	}
	&__item:hover .tooltip{
		visibility: visible;
    top: 7px;
    right: -109px;
	}
	&__avatar-img{
		border: 2px solid #fff;
		border-radius: 50%;
		transition: all .4s;
		&:hover{
			border: 2px solid $accent;
		}
	}
}

.animal{
	margin-top: 160px;
	padding-bottom: 30px;
	&__online{
		max-width: 1160px;
		height: 653px;
	}
	&__feed-btn{
		display: none;
	}
	&__title{
		@extend %roboto-500;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
		padding-bottom: 80px;
	}
	&__aside-btn{
		display: none;
	}
	&__online{
		margin-bottom: 20px;
	}
	&__video-small{
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
    row-gap: 20px;
	}
	&__video-small-wrapper{
		width: 275px;
		height: 155px;
	}
}

.animal-info{
	line-height: 19px;
	padding-bottom: 100px;
	&__top{
		margin-bottom: 20px;
		display: flex;
	}
	&__top-item{
		width: 50%;
		background-color: $bg;
		padding: 20px 20px 22px;
	}
	&__top-title{
		text-transform: uppercase;
		margin-right: 3px;
	}
	&__bottom{
		display: flex;
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 20px;
	}
	&__bottom-item{
		background-color: $bg;
		padding: 20px 80px 22px 20px;
		width: 570px;
		height: 61px;
		position: relative;
		cursor: pointer;
		&.active{
			height: auto;
		}
	}
	&__bottom-title{
		text-transform: uppercase;
		&.active{
			margin-bottom: 7px;
		}
	}
	&__bottom-btn{
		position: absolute;
		top: 13%;
		right: 20px;
		@extend %btn-arrow;
		width: 45px;
		height: 45px;
		transition: none;
		&.active{
			top: 34%;
			.arrow{
				transform: rotate(180deg);
			}
		}
	}
	.arrow{
		transition: all .3s;
	}
	&__bottom-text{
		display: none;
		&.active{
			display: block;
		}
	}
}

// page 404
.error{
	text-align: center;
	&__inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__img{
		max-width: 675px;
		padding-top: 50px;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	&__text{
		@extend %bebasneue-700;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 70px;
		line-height: 70px;
		color: #333333;
		margin-bottom: 10px;
	}
	&__link-home{
		@extend %bebasneue-700;
		font-size: 20px;
		line-height: 20px;
		text-transform: uppercase;
		padding-bottom: 50px;
		color: #59c3fb;
		&:hover{
			text-decoration: underline;
		}
	}
}

.modal-animal{
	&__select-animal{
		width: 100%;
		margin-bottom: 8px;
		height: 39px;
		border: 1px solid #9CA498;
		background-color: #dff5b0;
		line-height: 19px;
		text-align: center;
		option{
			width: 100%;
			text-align: center;
		}
	}
	&__amount{
		width: 303px;
		margin-right: 4px;
	}
	&__select-money{
		width: 159px;
		height: 39px;
		border: 1px solid #9CA498;
		line-height: 19px;
		text-align: center;
	}
	input{
		text-align: center;
	}
	&__textarea{
		width: 100%;
		height: 85px;
		margin: 9px 0 20px;
		line-height: 19px;
		padding: 8px 11px;
		resize: none;
	}
	&__form-btn{
		margin: 0 auto;
		width: 168px;
		@extend %btn;
	}
}

.modal-donat{
	&__form{
		padding: 50px 220px 40px 50px;
		position: relative;
		z-index: 1;
	}
	&__front{
		padding: 35px 26px;
		background-color: #dcdcdc;
		border-radius: 10px;
		width: 358px;
		height: 203px;
		margin-bottom: 56px;
	}
	&__input-card,
	&__input-card-user{
		width: 100%;
	}
	&__input-card-month,
	&__input-card-year{
		width: 80px;
		margin: 8px 0;
	}
	&__input-card-month{
		margin-right: 5px;
	}
	input{
		text-align: center;
	}
	&__back{
		width: 326px;
		height: 189px;
		padding-top: 28px;
		background-color: #c6c5c5;
		border-radius: 10px;
		position: absolute;
		top: 100px;
		left: 254px;
		z-index: -1;
	}
	&__back-line{
		display: block;
		width: 100%;
		background-color: #a8a8a8;
	}
	&__back-line--bold{
		margin-bottom: 8px;
		height: 37px;
	}
	&__back-line--thin{
		margin-bottom: 5px;
		height: 5px;
	}
	&__input-card-cvc{
		width: 75px;
		position: absolute;
		top: 73px;
		right: 36px;
	}
	&__btn{
		@extend %btn;
		width: 150px;
		margin-left: 190px;
	}
}

.modal-feedback{
	padding: 50px 80px;
	background-color: #fff;
	&__input{
		margin-bottom: 8px;
	}
	&__input,
	&__textarea{
		width: 100%;
		background-color: #dff5b0;
	}
	&__textarea{
		height: 180px;
		resize: none;
		padding: 10px;
		margin-bottom: 20px;
	}
	&__btn{
		@extend %btn;
		width: 177px;
		margin: 0 auto;
	}
}

@import 'media';